<div class="lib-form">
  <div class="lib-form__input-group">
    <label class="lib-form__label">Name<sup>*</sup></label>
    {{input class=(if item.isValid "lib-form__input lib-form__input--valid" "lib-form__input") type="text" placeholder="The name of the library" value=item.name}}
  </div>
  <div class="lib-form__input-group">
    <label class="lib-form__label">Address<sup>*</sup></label>
    {{input class="lib-form__input" type="text" placeholder="The address of the library" value=item.address}}
  </div>
  <div class="lib-form__input-group">
    <label class="lib-form__label">Phone<sup>*</sup></label>
    {{input class="lib-form__input" type="text" placeholder="The phone number of the library" value=item.phone}}
  </div>
  <div class="lib-form__input-group">
    <button class="lib-form__btn-create" disabled={{unless item.isValid true}}
      {{action "buttonClicked" item}}>{{buttonLabel}}</button>
  </div>
</div>